<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Marks submission for result</h1>
    <form action="/submit" method="post">
        <input type="number" id="maths" name="maths" placeholder="Enter maths marks">
        <input type="number" id="Comp" name="comp" placeholder="Enter computer marks">
        <input type="number" id="phy" name="phy" placeholder="Enter phy marks">
        <input type="number" id="chem" name="chem" placeholder="Enter chem marks">
        <input type="number" id="eng" name="eng" placeholder="Enter eng marks">
        <input type="submit" value="submit">
    </form>
</body>
</html>